/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */

body {
  padding: 0;
  margin: 0; 
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #efeee7;
}

h1 {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 30px;
  color: black;
  text-align: left;
}

#main-image {
  float: left;
  margin-right: 20px;
}


#one {
    background-color: white ;
    padding: 10px;
  }


a{
  font-size: 15px;
  color:black;
  border-color: slateblue;

}

/*
.content{
    padding:20px;
    border: 1px solid #269abc;
    background:#d6ec94;
}

[class*="col-sm-12"] {
    padding-top:10px; 
    padding-bottom:10px;
    border: 1px solid grey;
    background: transparent;
    background-color: yellow;
}

.fixed-width {
    display:inline-block;
    float:none;
    width: 300px;
}

#one {
    background-color: #17a2b8;
    height:500px;
}

@media (min-width: @screen-sm-min) {
  background-color: yellow;


}

*/

